
<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

<title>第{{issue.issue_number}}期</title>
<link href="/static/theone.css" rel="stylesheet" type="text/css">
<link href="/static/style.css" rel="stylesheet" type="text/css">
<body>

<div class="wrap">
<div class="mainBox">
    <div class="hd"></div>
    <div class="bd">
        {%for article in issue.articles%}
            {{article|safe}}
        {%endfor%}
    </div>
    <div class="ft"></div>
</div>
</div>
</body>